.container {
	margin: 5em 10em 0 10em;
	max-width: 1000px;
}

img[src$="svg"] {
	width: 1.2em;
	position: relative;
	top: .2em;
	left: -.1em;
	margin: 0;
	color: white;
}

.navigation {
	position: fixed;
	padding: 0 10em;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
}

nav {
	display: block;
	margin: 0 auto;
	width: 1000px;
}

nav ul {
	list-style-type: none;
	margin: .3em 0 0 0;
	padding: 0;
}

nav * {
	display: inline-block;
	margin: .2em;
}

nav li {
	font-size: .5em;
	width: 5em;
	padding: 2em 4.5em;
	text-align: center;
	color: #6d6d6d;
	border-top: .2em solid #6d6d6d;
}

nav li:active {
	color: #ecd291;
}

nav p {
	font-size: .7em;
	color: white;
	line-height: 52px;
	padding-right: 2em;
}

nav i {
	color: white;
}

nav i:first-of-type {
	padding-left: 2em;
}

.title {
	display: block;
	width: ;
	margin: 0 auto;
}

div[role=main] div.big-icons {
	margin: 0 auto;
	display: block;
	width: 45em;
}

.big-icons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.big-icons ul > li {
	display: inline-block;
	width: 10em;
	margin: .5em;
}

.big-icons ul > li p {
	font-size: .5em;
	text-align: center;
}

h2 {
	font-size: 1em;
}

.big-icons ul > li h2 {
	text-align: center;
}

.big-icons ul > li img {
	margin: 0 auto;
	display: block;
	width: 35%;
}

html * {
	font-family: Arial;
}

.images img {
	float: left;
}

.images img:not(:first-of-type) {
	margin-left: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.images img:first-of-type {
	margin-right: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
}

hr {
	border-top: 2px dotted #dadada;
	background-color: #ffffff;
}

From 723px - 
@media screen and (max-width:1989px) {
	
}