body {
	margin-top: 0;
}

img[src$="google-plus.svg"] {
	width: 1.2em;
	position: relative;
	top: .2em;
	left: -.1em;
	margin: 0;
}

nav {
	position: fixed;
	padding: 0;
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color: black;
	top: 0;
	left: 0;
}

nav * {
	display: inline-block;
	margin: .2em;
}

nav li {
	font-size: .5em;
	width: 5em;
	padding: 2.5em 3em;
	text-align: center;
	color: #6d6d6d;
}

nav li:active {
	color: #ecd291;
}

nav p {
	font-size: .7em;
	color: white;
}

div[role=main] div.big-icons {
	margin: 0 auto;
	display: block;
	width: 45em;
}

.big-icons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.big-icons ul > li {
	display: inline-block;
	width: 10em;
	margin: .5em;
}

.big-icons ul > li p {
	font-size: .5em;
	text-align: center;
}

h2 {
	font-size: 1em;
}

.big-icons ul > li h2 {
	text-align: center;
}

.big-icons ul > li img {
	margin: 0 auto;
	display: block;
}

html * {
	font-family: Arial;
}

.images img {
	float: left;
}

.images img:not(:first-of-type) {
	margin-left: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.images img:first-of-type {
	margin-right: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
}